<div id="sections">
	<h2>Sections</h2>
	<%= form_builder.fields_for :sections do |f| %>
		<div class="section">
			<%= f.hidden_field :order, :class => 'section_order_field' %>
			
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, :class => 'section_name' %>
			</div>
			<div class="form-group">
				<%= f.label :description %>
				<%= f.text_area :description %>
			</div>
			
			
			<div class="form-group">
				<label>
					<%= f.check_box :published %>
					Published?
				</label>
			</div>
			
			<% unless f.object.new_record? %>
				<div class="form-group">
					<label>
						<%= f.check_box :_destroy %> 
						Destroy? 
					</label>
				</div>
			<% end %>
			
			<%= embedded_products_form(f) %>
		</div>
	<% end %>
</div>

<script>
	var all_sections_full = function(){
		var sections = $('.section_name');
		var full = true;
		for(var i = 0; i < sections.length; i++){
			console.log($(sections)[i].val());
			if($(sections)[i].val == ''){
				full = false;
				break
			}
		}
		
		return full;
	}
	
	function addSectionFields(){
		var section = $('.section').first().clone();
		var index = new Date().getTime();
		section.html(section.html().replace(/menu_sections_attributes_\d+_/g, 'menu_sections_attributes_' + index + '_'));
		section.html(section.html().replace(/menu\[sections_attributes\]\[\d+\]/g, 'menu[sections_attributes][' + index + ']'));
		addSectionFieldsIfFull(section);
		$('#sections').append(section);
	}
	
	function addSectionFieldsIfFull(element){
		$(element).focusout(function(){
			if(all_sections_full){
				addSectionFields();	
				orderSections();
				addSectionFieldsIfFull();
			}
		})
	}
	
	
	
	$(document).ready(function(){
		addSectionFieldsIfFull();
	});
	
</script>
